/* Variables and mixins */

$primaryColor : #212121;
$secondaryColor: #616161;
$tertiaryColor: #ccc;

$successColor: #00C853;
$failureColor: #D50000;

@mixin respond-to($media) {
    @if $media == large {
      @media only screen and (min-width: 1024px) {
        @content;
      }
    }
}


@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto/Roboto-Regular.ttf")
}


* {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    color: $primaryColor;
}

body {
    margin: 0;
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;

        .page {
            display: none;
            width: 100%;
            &.is-active {
                display: block;
            }
        }
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        max-height: 3rem;
    }

    h1{
        font-size: 1.8rem;
    }

    a {
        text-decoration: none;
        color: $primaryColor;
        &:hover {
            color: $secondaryColor;
            text-decoration: none;
        }
    
    }
}

.is-close {
    display: none !important;
}
.error-message{
    color: $failureColor;
    font-weight: 800;
    margin: 0;
}

.form-class {
    position: absolute;
    border: solid 2px $secondaryColor;
    width: 320px;
    height: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background-color: #ffffff;
    span {
        float: right;        
        padding: 10px;
        margin-top: 6px;
        font-size: 25px;
        color: $primaryColor;
    }
    form {

        margin-left: 17px;
        margin-top: 60px;
        span {
            float: inherit;
            color: $primaryColor;

        }
        select {
            -webkit-appearance: none;
            display: block;
            width: 280px;
            margin-bottom: 10px;
            padding: 8px;
            font-size: 20px;
            border: none;
            color: white;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            //background: $primaryColor;
            cursor: pointer;
            background: url("../img/white-down-arrow.png") no-repeat right $primaryColor;
            background-size: 25px;
            padding-right:10px;
            background-position-x: 240px;
            background-position-y: 10px;
            

            option {
                color: white;
            }            

        }
        input {
            -webkit-appearance: none;
            padding: 12px;
            display: block;
            width: 280px;
            margin-bottom: 15px;
            font-size: 16px;
            border: none;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            color: white;
            background: $primaryColor;

        }
        .submitClass {
            -webkit-appearance: none;
            position: absolute;
            bottom: 40px;
            margin-top: 50px;
            height: 40px;

        }
    }
}